<header class="header">
  <div class="section-header">
    <div class="header-logo-wrap">
      <a class="header-logo" href="./index.html"
        ><img
          src="./img/vite-logo.png"
          alt="logo"
          class="logo-img"
          width="48"
          height="48"
      /></a>
      <p class="header-logo-text">Criminal Archives 2: Extra</p>
    </div>
    <nav class="headre-nav">
      <ul class="header-nav-ul">
        <li>FAQ</li>
        <li>How to Play</li>
        <li>Game Description</li>
        <li>Features</li>
        <li>Gallery</li>
        <li>Home</li>
      </ul>
    </nav>
    <!-- <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul> -->
  </div>
</header>
